.header
{   color: rgb(209, 209, 254);
    background-color: rgb(11, 60, 92);
    font-size: 55px;
    justify-content: center;
    display: flex;
}

.image-grid
{   display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    place-items: center;
    margin-left: 90px;
    margin-right: 90px;

    /* padding: 30px; */
}

.image-grid img
{   display: block;
    width: 90%;
    height: auto;
    border-radius: 8px;

}