


table {
  border-collapse: collapse;
  width: 50%;               
  margin-left: 0; margin-right: auto;
  text-align:center;
    
}

th, td {
  border: 2px solid black;   
  border-collapse: collapse;         
     
}
th{background-color: rgb(168, 168, 168);  }
td{background-color: rgb(238, 231, 231);  }