
.table12 {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  width: 50%;
  height: fit-content;
  margin: auto;
}
.table12 th, td{
  border: 2px solid black;
  text-align: center;
  padding: 10px;
}
.table12 caption {
  color: white;
  background-origin: padding-box;
  background-color: rgb(49, 44, 44);
}

#thirdtable {
  color: black;
  border: 2px;
  width: 50%;
  height: 200px;
  border-collapse: collapse;
  background-color: rgb(252, 249, 249);
  margin: auto;
}
#thirdtable th,
td {
  border: 2px solid rgb(17, 9, 0);
  text-align: center;
  padding: 5px;
}
#thirdtable th {
  color: white;
  background-color: rgba(116, 113, 113, 0.6);
}
#practiceNav {
  background-color: rgb(2, 48, 50);
  width: 100%;
  height: 10vh;
  padding: 25px 30px;
}
#practiceNav ul,
#practiceNav li {
  list-style: none;
  float: left;
  margin: 13px 16px;
  color: white;
  font-size: 27px;
  text-align: center;
}
#practiceNav a {
  text-decoration: none;
  color: rgb(245, 241, 241);
  transition: color 0.3s;
}

#practiceNav ul li a:hover {
  color: rgb(23, 227, 242);
}


#signAccountNav {
  font-weight: bold;
  color: white;
  background-color: rgb(2, 48, 50);
  padding: 6px;
  border-radius: 5px;
  font-size: 20px;
  margin-left: 460px;
}

#reg {
  max-width: 700px;
  margin: auto;
  padding: 10px;
  background: #b6edfc;
  border-radius: 10px;
}
#contain label {
  display: block;
  margin: 12px 0 3x;
  font-weight: bold;
  font-size: 15px;
}
#contain input {
  padding: 8px;
  border: 2px solid black;
  border-radius: 6px;
  margin-bottom: 8px;
}

#contain button {
  font-size: 18px;
  color: whitesmoke;
  padding: 10px 10px;
  background: rgb(50, 49, 49);
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
#regform {
  background-color: hwb(192 11% 53%);
}
* {
  margin: 0;
}
.rega {
  text-decoration: none;
  font-style: normal;
  font-size: 24px;
  font-weight: 700;
}

#container{
  width: 100%;
  height: 90vh;
}
#ifcontainer{
  width: 100%;
  height: 90vh;
}