 table,
      th,
      td {
        border: 1px solid black;
        border-collapse: collapse;
        text-align: center;
        width: 50%;
        height: fit-content;
        margin: auto;
      }
      caption {
        color: white;
        background-origin: padding-box;
        background-color: rgb(49, 44, 44);
      }
    #nav{
        background-color: rgb(3, 95, 99);
        width: 100%;
        height: 10vh;
        padding: 25px 30px;

    }
    #nav ul,
    #nav li{
        list-style: none;
        float: left;
        margin: 13px 16px;
        color: white;
        font-size: 27px;
        text-align: center;

    }
    a{color: white;}

    form{
  max-width: 800px;
  margin: auto;
  padding: 25px;
  background: #f7d3d3;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(245, 228, 228, 0.1);
}
label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

